/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__heading {
  display: none;
}
.header__img {
  width: 100%;
}
.header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
/* .task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
} */
.section-add__container {
  display: flex;
}
ul {
  margin: 0;
  padding: 0px;
}
li {
  list-style: none;
}
input,
button{
  outline: none;
}
.section-item__btn,
.section-add__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.section-item__btn:hover,
.section-add__btn:hover {
  color: #3a3a3a;
}
/* Heading */
.section__heading {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.section-add__input-text,
.section-item__input-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.section-add__input-text,
.section-item__input-text:focus {
  color: #333;
}

/* New Task */
.section-add__heading {
  display: block;
  margin: 0 0 20px;
}

/* Task list */
.section__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__item > * {
  vertical-align: middle;
}

.section-item__input-check {
  margin: 0 10px;
}
.section-item__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.section__item > .section-item__input-text {
  width: 226px;
}
.section-item__btn-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.section-item__btn-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.section__list_completed .section-item__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.section__list .section__item .section-item__input-text {
  display: none;
}

.section__list .section-item_edit .section-item__input-text {
  display: inline-block;
  width: 224px;
}

.section__list .section-item_edit .section-item__label {
  display: none;
}